<!DOCTYPE html>
<html lang="en">
<head>
    <title> Main_page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="styles/privacy.css">
  <script src="https://kit.fontawesome.com/0c6e0d587d.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div className="gdpr">
    <h1>GDPR Compliance Statement</h1>
    <p>
      The TopMovies website is an online store for customers to buy or rent movies.This project is part of my bacholor's studeies and it is the final assignment.
       This privacy
      policy explains how our organization uses the personal data we collect
      from you when you use our service.
    </p>
    <p>
      <b>Topics:</b>
      <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>Marketing</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How we use cookies</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
      </ul>
    </p>
    <h2>What data do we collect?</h2>
    <p>
      TopMovies store collect the following data:
      <ul>
        <li>
          Personal identification information (Name, email address, phone
          number, etc.)
        </li>
        <li>Any data produced while using the service.</li>
      </ul>
    </p>
    <h2>How we collect your data</h2>
    <p>
      TopMovies collects your data so we can:
      <ul>
        <li>
          Register online or place an order for any of our products or services.
        </li>
        <li>
          Voluntarily complete a customer survey or provide feedback on any of
          our message boards or via email.
        </li>
        <li>Use or view our service via your browser's cookies.</li>
      </ul>
    </p>
    <h2>How we use your data</h2>
    <p>
      TopMovies collects your data so that we can:
      <ul>
        <li>Process your order and manage your account.</li>
        <li>
          Email you with special offers on products and services we think you
          might like.
        </li>
      </ul>
      TopMovies will not share your data with any partner companies.
    </p>
    <p>
      When TopMovies processes your order, it may send your data to, and also
      use the resulting information from, credit reference agencies to prevent
      fraudulent purchases.
    </p>
    <h2>How we store your data</h2>
    <p>
      TopMovies securely stores your data on the Jyväskylä University of
      Applied Sciences internal Labranet server. TopMovies will keep your
      personal and user-generated data after a year of inactivity. Once this
      period has expired, the data will be deleted automatically.
    </p>
    <h2>Marketing</h2>
    <p>
      TopMovies will occasionally send you information about products and
      services of ours that we think you might like, as well as those of the
      Jyväskylä University of Applied Science. If you have agreed to receive
      marketing, you may always opt out at a later date.
    </p>
    <p>
      You have the right at any time to stop TopMovies from contacting you for
      marketing purposes or giving your data to other members of TopMovies.
    </p>
    <h2>What are your data protection rights?</h2>
    <p>
      TopMovies would like to make sure you are fully aware of all of your data
      protection rights. Every user is entitled to the following:
      <b>The right to access</b> - You have the right to request TopMovies for
      copies of your personal data.
    </p>
    <p>
      <b>The right to rectification</b> - You have the right to request that
      TopMovies correct any information you believe is inaccurate. You also
      have the right to request TopMovies to complete the information you
      believe is incomplete.
    </p>
    <p>
      <b>The right to erasure</b> - You have the right to request that Wimma
      Labs erase your personal data, under certain conditions.
    </p>
    <p>
      <b>The right to restrict processing</b> - You have the right to request
      that TopMovies restrict the processing of your personal data, under
      certain conditions.
    </p>
    <p>
      <b>The right to object to processing</b> - You have the right to object to
      TopMovies's processing of your personal data, under certain conditions.
    </p>
    <p>
      <b>The right to data portability</b> - You have the right to request that
      TopMovies transfer the data we have collected to another organization, or
      directly to you, under certain conditions..
    </p>
    <p>
      If you make a request, we have one month to respond to you. If you would
      like to exercise any of these rights, please contact us via email at
      <a href="mailto:help@topmovies.com">
        help@topmovies.com
      </a>
      . We can be reached by phone at +3584xxxxxx.
    </p>
    <h2>Cookies</h2>
    <p>
      Cookies are text files placed on your computer to collect standard
      Internet log information and visitor behavior information. When you visit
      our websites, we may collect information from you automatically through
      cookies or similar technology.
    </p>
    <p>
      For further information, visit
      <a href="https://www.allaboutcookies.org">allaboutcookies.org</a>.
    </p>
    <h2>Cookies</h2>
    <p>
      How we use cookies:
      <ul>
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
      </ul>
    </p>
    <h2>What types of cookies we use</h2>
    <p>
      There are a number of different types of cookies. Our website uses cookies
      for the following:
      <ul>
        <li>
           Functionality - TopMovies uses these cookies so we recognize you on
          our website and remember your previously selected preferences. These
          could include what language you prefer and location you are in. A mix
          of first-party and third-party cookies are used.
        </li>
        <li>
           Advertising - TopMovies uses these cookies to collect information
          about your visit to our website, the content you viewed, the links you
          followed and information about your browser, device, and your IP
          address. TopMovies does not share this data with third parties for
          advertising purposes.
        </li>
      </ul>
    </p>
    <h2>How to manage cookies</h2>
    <p>
      You can set your browser to not accept cookies. However, in a few cases,
      some of our website features may not function as a result.
    </p>
    <h2>Privacy policies of other websites</h2>
    <p>
      The TopMovies website contains links to other websites. Our privacy
      policy applies only to our website. If you click on a link to another
      website, you should read their privacy policy.
    </p>
    <h2>Changes to our privacy policy</h2>
    <p>
      TopMovies keeps its privacy policy under regular review and places any
      updates on this web page. This privacy policy was last updated on 9 June
      2022.
    </p>
    <h2>How to contact us</h2>
    <p>
      If you have any questions about TopMovies's privacy policy, the data we
      hold on you, or you would like to exercise your data protection rights,
      please do not hesitate to contact us.
    </p>
    <p>
      Email us at
      <a href="mailto:help@topmovies.com">
        help@topmovies.com
      </a>
    </p>
    <p>Call us: +358 4xxxxxxxx</p>
    <p>
      Write to us at:
      <address>
        TopMovies
        <br />
        Jyväskylä University of Applied Sciences
    
        <br />
      </address>
    </p>
    <h2>How to contact the appropriate authority</h2>
    <p>
      Should you wish to report a complaint or if you feel that TopMovies has
      not addressed your concern in a satisfactory manner, you may contact the
      Information Commissioner's Office.
    </p>
    <p>
      Email:
      <a href="mailto:complaints@topmovies.com">
        complaints@topmovies.org.com
      </a>
    </p>
    <p>
      Address:
      <address>
        TopMovies
        <br />
        Jyväskylä University of Applied Sciences
        <br />
      </address>
    </p>
  </div>
</body>
</html>
